# Copy as .env file and configure your Google Cloud settings
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID
GOOGLE_CLOUD_LOCATION=global
VERTEX_LOCATION=us-central1
BQ_COMPUTE_PROJECT_ID=YOUR_PROJECT_ID
BQ_DATA_PROJECT_ID=YOUR_PROJECT_ID
BQ_DATASET_ID=YOUR_DATASET_ID
DATASET_CONFIG_FILE=data_science/utils/project_config.json
MODEL_STAGING_BUCKET=gs://YOUR_STAGING_BUCKET
BQ_LOCATION=US
